
body
{
	text-align: justify;
	width: 48%;
	margin:auto;	
	border: 1px grey solid;
	box-shadow: 4px 4px 6px rgb(26, 30, 56);
	font-family: calibri;
	margin-top: 70px;
	background-image: url(images/backgroundcv.png);
}
/*BLOC DROIT*/
main
{
	overflow: hidden;
	padding-right: 35px;
	background-color: aliceblue;
}
header
{
	margin-left: 50px;
	margin-bottom: 45px;

}
#nomprenom
{
	display: inline-block;
	margin-bottom: 0px;
	font-size: 3em;
	margin-top: 50px


}
.couleurprenom
 {
 	color: #006080 ;
 	font-weight: bold;
 }
 .nom
 {
 	font-weight: 400
 }
 .devweb
 {
 	font-size: 1.5em;
 	;
 	
 }
 
 #devel
 {
 	border: 1.5px  #006080 solid;
	border-top: none;
	border-left: none;
	border-right: none;

 }
 
 .imgtitre
 {
 	display: flex;
 	border: 2px #006080 solid;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-left: 10px;
	padding-bottom: 10px;

 }

h2
{
	margin: auto;
	width: 80%;
	margin-bottom: 10px;
	margin-top: 10px
}
h3
{
	margin-top: 16px
}
h4
{
	margin-bottom: 0;
	margin-top: 0%;
}

.fas.fa-book,.fas.fa-suitcase,.fas.fa-pen
{
	display: inline-flex;
	vertical-align: bottom;
	margin: auto;
}

 
body,ul
{
	display: flex;	
}
.date1
{
	list-style-type: circle;
}
.date,.date1 p
{
	width: 60px;
}
h4 p
{
	width: 450px;
}

.txt
{
	margin-left: 5px;
	overflow: hidden;
	flex-direction: column;
	width: 450px;
}

#flexrecom
{
	display: flex;	
	padding-right: 5%;
	padding-left: 10%;
}

.Anna,.Emeric
{
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 0%;
	padding-left: 5%;
	width: 158px;

}


/*BLOC GAUCHE*/
aside
{
	background-color: #82a7ca;
	width: 30%;
	min-width: 30%;
	text-align:center;
}
figure
{
	margin: auto;
}
#minipp
{
	/*clip-path:ellipse(50% 42%);*/
    overflow: hidden;
    width: 150px;
    align-items: center;
    margin: auto;
    margin-top: 30px;
	box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.7);
    display: inline-block;
 	border: 2px solid grey;
 	width: 125px;
  	height: 140px;
  	border-radius: 50%;	 
}

a img
{
	width: 80px
}

aside h2
{
	background-color: rgb(67, 72, 99);
	text-align: center;
	overflow: hidden;
	font-size: 2em;
	font-weight: bold;
	box-shadow: 0px 5px 5px 0px rgb(34, 64, 104);
	width: 100%;
	color: #82a7ca;
	margin-bottom: 50px;
	margin-top: 30px;

}

.linkedin
{
	/* box-shadow: 5px 5px 5px 0px #BDBDBD; */
	display: inline-flex;
}

.apropos
{
	margin-top: 00px
}
.apropos p
{
	font-size: 1.2em;
}

.loisirs
{
	margin-top: 120px
}

#imgloisirs
{
	display:flex;
	justify-content: space-around;
	margin:auto;
	height: 30px;
	width: 80%;
	margin-top: 50px;
	margin-bottom: 20px;
}
aside h4
{
	font-size: 1.2em;
	text-align: left;
	margin-left: 10%;
}

aside p 
{
	font-size: 1em;
	color: rgb(2, 21, 49);
	text-align: left;
	margin-left: 10%;
}

@media all and (max-width: 1024px)
 {
	html
	{
		height: 1471px;
	}
	body
	{
		flex-direction: column;
		width: auto;
		margin: auto;	
	}

	body aside
	{
			overflow: hidden;
			width: 100%;
	}

	aside h4 {
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	aside p
	{
		margin-left: 0;
	}
	.contact div
	{
		width:15%;
		max-width: 119px;
		margin: 3%;
		margin-right: 0;
		padding-right: 3%;
		width: auto;
		overflow: hidden;
	}

	aside h1 {
		width: 70%;
		margin-left: auto;
	}

	#nomprenom {
		text-align: center;
		margin-left: 0px;
		margin: auto;
	}

	.contact {
		margin: auto;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		overflow: hidden;
		
	}
	.flex1
	{
		display: flex;
		flex-direction: column;
		width: 80%;
		
	}
	
	.apropos, .loisirs {
		display: none;
	}

	aside .responsive {
		display: flex;
		width: 100%;
		flex-direction: row;
	}

	.responsive #minipp {
		height: auto;
		margin: 10px;
		width: 100px;
	}
}

@media all and (max-width: 604px)

{
	figure
	{
		display: none;
	}
	.flex1
	{
		width: 100%;
	}
	.contact div
	{
		overflow: hidden;
	}
	div h4
	{
		overflow: hidden;
		margin: auto;
	}
}